<div class="bg-white">
    <div class="inner">
        <div class="flex flex-col md:flex-row justify-center items-center gap-6 md:gap-12 py-12">
            <div class="herometric__block">
                <div class="herometric__metric">$2B+</div>
                <div class="herometric__desc">trading volume</div>
            </div>
            <div class="divider-vert-dotted"></div>
            <div class="herometric__block">
                <div class="herometric__metric">900,000+</div>
                <div class="herometric__desc">orders executed</div>
            </div>
            <div class="divider-vert-dotted"></div>
            <div class="herometric__block">
                <div class="herometric__metric">5M+</div>
                <div class="herometric__desc">backtests run</div>
            </div>
        </div>
    </div>
    <div class="divider-horiz-solid-onlight-1"></div>
    <div class="inner">
        <div class="pt-8 pb-14">
            <div class="text-block-39">As seen on</div>
            <div class="seenon__logos"><img alt="Wall Street Journal"
                    srcset="/_next/static/media/seen-wsj.79404bf4.svg 1x, /_next/static/media/seen-wsj.79404bf4.svg 2x"
                    src="/_next/static/media/seen-wsj.79404bf4.svg" width="120" height="60" decoding="async"
                    data-nimg="future" class="seen max-w-none w-40" loading="lazy" style="color:transparent"><img
                    alt="Money Stuff"
                    srcset="/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Fseen-moneystuff.91772ec7.png&amp;w=384&amp;q=75 1x, /_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Fseen-moneystuff.91772ec7.png&amp;w=640&amp;q=75 2x"
                    src="/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Fseen-moneystuff.91772ec7.png&amp;w=640&amp;q=75"
                    width="305" height="99" decoding="async" data-nimg="future" class="seen max-w-none w-40"
                    loading="lazy" style="color:transparent"><img alt="Benzinga"
                    srcset="/_next/static/media/seen-benzinga.37907997.svg 1x, /_next/static/media/seen-benzinga.37907997.svg 2x"
                    src="/_next/static/media/seen-benzinga.37907997.svg" width="159" height="22" decoding="async"
                    data-nimg="future" class="seen" loading="lazy" style="color:transparent"><img
                    id="w-node-_2bc9db4a-d63f-e4bb-1968-6a915d8559ac-1f680737" alt="CNET"
                    srcset="/_next/static/media/seen-cnet.58ff0e42.svg 1x, /_next/static/media/seen-cnet.58ff0e42.svg 2x"
                    src="/_next/static/media/seen-cnet.58ff0e42.svg" width="97" height="22" decoding="async"
                    data-nimg="future" class="seen" loading="lazy" style="color:transparent"><img alt="Entreprenuer"
                    srcset="/_next/static/media/seen-ent.dc79da88.svg 1x, /_next/static/media/seen-ent.dc79da88.svg 2x"
                    src="/_next/static/media/seen-ent.dc79da88.svg" width="174" height="39" decoding="async"
                    data-nimg="future" class="seen" loading="lazy" style="color:transparent"></div>
        </div>
    </div>
</div>